{% extends 'base.html' %}

{% block content %}

<div class="container py-4 py-lg-5 my-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <h2 class="h3 mb-4">Account Activation Successful</h2>
          <p class="font-size-md">You have successfully activated your account.</p>
          <div class="card py-2 mt-4">
            <form class="card-body needs-validation" novalidate>
              <a href="{% url 'home' %}" class="btn btn-primary" type="submit"><i class="czi-arrow-left"></i> Continue Shopping</a>
            </form>
          </div>
        </div>
    </div>
</div>


{% endblock %}