{% extends 'base.html' %}


{% block content %}

<div class="container py-4 py-lg-5 my-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h2 class="h3 mb-4">Change Your Password</h2>
      <p class="font-size-md">Make sure you set a very strong password which meets the following pattern</p>
      <ol class="list-unstyled font-size-md">
        <li><span class="text-primary mr-2">1.</span>Your password must be at least 8 characters long.</li>
        <li><span class="text-primary mr-2">2.</span>It must contain alphanumeric characters with at least 1 <em>UPPER</em> and <em>LOWER</em> character each.</li>
        <li><span class="text-primary mr-2">3.</span>It cannot emojis.</li>
      </ol>
      <div class="card py-2 mt-4">
        <form autocomplete="off" method="POST" action="{{ post_url }}" class="card-body needs-validation" novalidate>
          {% csrf_token %}
            <div class="form-group">
            <label for="id_password">Enter your new Password</label>
            <div class="password-toggle">
                <input name="password" class="form-control" type="password" id="id_password" required>
                <label class="password-toggle-btn">
                    <i class="czi-eye password-toggle-indicator"></i>
                </label>
            </div>
            <div class="invalid-feedback">Please provide valid password.</div>
            <div class="valid-feedback">Looks strong and secured.</div>
          </div>
          <button class="btn btn-primary" type="submit">Get new password</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}